.App {
  text-align: center;
}
.btn{
  padding:10px;
  border-radius:5px;
  color:whitesmoke;
  margin-top: 20px;
}
.borderded{
  border:1px solid gray;
}
.ghost{
  border:none;
}
.red{
  background-color:rgb(189, 82, 82);
}
.green{
  background-color: rgb(91, 192, 192);
}